<div class="container">
  <div class="card">
    <div class="form-control">
      <input type="text" placeholder="Название" [(ngModel)]="todoTitle" />
    </div>
    <button class="btn" (click)="addTodo()">Добавить</button>
    <button class="btn" (click)="fetchTodo()">Загрузить</button>
  </div>

  <hr />

  <p *ngIf="errors; else todoBlock" class="error">{{ errors }}</p>

  <ng-template #todoBlock>
    <div *ngIf="!loading; else loadingBlock">
      <div *ngIf="this.todos.length; else noTodos">
        <div class="card" *ngFor="let todo of todos">
          <p>
            <span [class.completed]="todo.completed">{{
              todo.title | titlecase
            }}</span>
            <span>
              <button class="btn btn-danger" (click)="removeTodo(todo.id)">
                Удалить
              </button>
              <button
                class="btn"
                [disabled]="todo.completed"
                (click)="completeTodo(todo.id)"
              >
                Завершить
              </button>
            </span>
          </p>
        </div>
      </div>
      <ng-template #noTodos> Нет данных</ng-template>
    </div>
    <ng-template #loadingBlock>Loading...</ng-template>
  </ng-template>
</div>
